<!-- index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ana Sayfa</title>
    <!-- Bootstrap CSS dosyasını include edin -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<!-- Navbar'ı içeren bir boş div oluşturun -->
<div id="navbarContainer"></div>

<div class="container">
    <h1>Ana Sayfa İçeriği</h1>
    <p>Bu, ana sayfadaki içeriğin yer aldığı bir şablon.</p>
</div>

<!-- Bootstrap JS dosyalarını include edin -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Navbar'ı dinamik olarak yükleyin -->
<script>
    // Navbar'ı dinamik olarak yüklemek için fetch() kullanın
    fetch('navbar.html')
        .then(response => response.text())
        .then(data => {
            document.getElementById('navbarContainer').innerHTML = data;
        });
</script>
</body>
</html>
